@model AppointmentInputModel

@{
    ViewBag.Title = "Request appointment";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container-fluid">
    <form asp-action="MakeAppointment" method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="DoctorId" class="form-label">Choose doctor for appointment:</label>
                    <select asp-for="DoctorId" class="form-control">
                        @foreach (var doctor in Model.Doctors.Doctors)
                        {
                            <option value="@doctor.Id">@doctor.FirstName @doctor.LastName, Speciallity: @doctor.DepartmentName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="@Model.Date" class="form-label">Pick up date and time:</label>
                    <input asp-for="@Model.Date" class="form-control" aria-required="true" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <input class="btn btn-outline-success" type="submit" value="Send request for appointment" />
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}