@model DepartmentListViewModel
@{
    this.ViewData["Title"] = "Departments";
}

<hr class="bg-dark mx-4" style="height: 6px;" />

<div class="text-center">
    <h2>@this.ViewData["Title"]</h2>
</div>
<br />

<div class="container">
    <div class="row">
        @foreach (var item in Model.Departments)
        {
            <div class="col-md-4">
                <div class="comment">
                    <div class="card mb-4">
                        <div class="card-header">
                            <img class="card-img" src="@item.ImageUrl">
                        </div>
                        <div class="card-body">
                            <span class="badge badge-success mb-2">Deparment</span>
                            <h4 class="card-title">@item.Name</h4>
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div class="card-footer">
                            <a asp-controller="Doctors" asp-action="DoctorsByDepartment" asp-route-departmentId="@item.Id" class="btn btn-success">See all doctors in @item.Name</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


